@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  src: url("../fonts/Inter.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Internal";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/QuinqueFive.ttf");
}

@font-face {
  font-display: swap;
  font-family: "InternalBold";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/PublicPixel.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Geist";
  font-style: normal;
  src: url("../fonts/GeistVF.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Geist Mono";
  font-style: normal;
  src: url("../fonts/GeistMonoVF.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Monocraft";
  font-style: normal;
  src: url("../fonts/Monocraft.ttf");
}
