@tailwind base;
@tailwind components;

@layer base {
  :root {
    font-family: Geist, Inter, Helvetica;

    --brand-logo: rgb(227, 245, 255);
    --brand-red: rgb(250, 111, 90);
    --brand-orange: rgb(250, 165, 90);
    --brand-yellow: rgb(250, 221, 90);
    --brand-green: rgb(157, 250, 90);
    --brand-blue: rgb(90, 149, 250);
    --brand-purple: rgb(186, 90, 250);
    --brand-rose: rgb(250, 90, 135);

    scrollbar-color: rgb(0, 86, 234) rgb(0, 0, 0);
  }
}

@layer utilities {
  body {
    @apply text-brand-text bg-brand-background;
  }

  .internalFont {
    font-family: Internal, InternalBold, Geist, Inter;
  }

  .internalBold {
    font-family: InternalBold, Internal, Geist, Inter;
  }

  .monocraftFont {
    font-family: Monocraft;
  }

  .brand-gradient {
    background: linear-gradient(
      90deg,
      rgb(0, 106, 255) 0%,
      rgb(31, 113, 255) 100%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

@tailwind utilities;
