---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NotEssential</title>
	</head>
	<body>
		<main>
			<h1>NotEssential</h1>
			<p>Work in progress, come back later.</p>
		</main>
	</body>
</html>

<style>
	* {
		box-sizing: border-box;
	}

	body {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		background: #000;
		font-family: Arial, Helvetica, sans-serif;
		height: 100dvh;
	}

	h1 {
		color: #e3f5ff;
		text-transform: uppercase;
	}

	p {
		color: #7f929c;
	}
</style>